anaconda
argon2-cffi
attrs
backcall
bleach
cffi
colorama
cycler
debugpy
decorator
defusedxml
entrypoints
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
Package
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
pip
prometheus-client
prompt-toolkit
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pywin32
pywinpty
pyzmq
qtconsole
QtPy
Send2Trash
setuptools
six
terminado
testpath
tornado
traitlets
wcwidth
webencodings
widgetsnbextension
